.col-md-6.col-md-offset-3
  .signup.box-container
    %h1.text-center
      Start today!
    %form(name="registrationForm" ng-submit="submitRegistration(user)" novalidate="")

      #errorExplanation.alert.alert-danger(ng-show="registrationErrors")
        %p There were problems with the following fields:
        %ul
          %li(ng-repeat="error in registrationErrors")
            {{error}}

      .form-group
        %input.form-control(type="email" placeholder="Email" ng-model="user.email" required="")
      .form-group
        %input.form-control(type="password" placeholder="Password" ng-model="user.password" required="")
      .form-group
        %input.form-control(type="password" placeholder="Password Confirmation" ng-model="user.password_confirmation" required="")

      .form-group
        %button.btn.btn-primary.btn-lg.btn-block.btn-signup(type="submit" ng-disabled="registrationForm.$invalid")
          Create account!
