.modal-header
  %h3.modal-title.text-center(editable-text="story.name" onaftersave="updateStory(story)")
    {{ story.name }}
.modal-body
  .row
    .col-md-8
      %section
        .description.well
          %strong
            Description
          %a(ng-click="editForm.$show()" ng-hide="editForm.$visible")
            Edit
          %div
            %span(editable-textarea="story.description" e-rows="7" e-cols="40" onaftersave="updateStory(story)" e-form="editForm")
              {{story.description || 'No description'}}


      %section(ng-controller="CommentsController")
        %h2.page-header Comments
        %section.comment-list
          / First Comment
          %article.row(ng-repeat="comment in comments")
            .col-md-2.col-sm-2.hidden-xs
              %figure.thumbnail
                %img.img-responsive{:src => "http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"}/
            .col-md-10.col-sm-10
              .panel.panel-default.arrow.left
                .panel-body
                  %header.text-left
                    .comment-user
                      %i.fa.fa-user
                      {{comment.user.nickname || comment.user.email}}
                      %span.glyphicon.glyphicon-remove.pull-right.cursor-pointer(ng-click="deleteComment(comment)")
                    %time.comment-date{:datetime => "16-12-2014 01:05"}
                      %i.fa.fa-clock-o
                      {{comment.created_at | date: 'MMM, d - H:mm:ss'}}
                  .comment-post
                    %p(editable-text="comment.content" onaftersave="updateComment(comment)")
                      {{comment.content}}
          #new_comment.well
            %textarea.form-control(placeholder="Add a comment" ng-model="comment.content" ng-keyup="$event.keyCode == 13 && addComment($event, comment)")



    .col-md-4
      #info
        %ul.list-group
          %li.dropdown.list-group-item
            Type
            %a.dropdown-toggle.pull-right{"data-toggle" => "dropdown", :href => "#"}
              {{ story.category.name }}
              %span.caret
            %ul.dropdown-menu.pull-right{:role => "menu"}
              %li(ng-repeat="category in categories")
                %a(ng-click="setCategory(category)")
                  {{ category.name }}
          %li.dropdown.list-group-item
            Points
            %a.dropdown-toggle.pull-right{"data-toggle" => "dropdown", :href => "#"}
              {{ story.estimation  || 'unestimated' }}
              %span.caret
            %ul.dropdown-menu.pull-right{:role => "menu"}
              %li
                %a(ng-click="estimateStory(null)")
                  Unestimated
              %li
                %a(ng-click="estimateStory(1)")
                  1 Points
              %li
                %a(ng-click="estimateStory(2)")
                  2 Points
              %li
                %a(ng-click="estimateStory(3)")
                  3 Points
              %li
                %a(ng-click="estimateStory(5)")
                  5 Points
              %li
                %a(ng-click="estimateStory(8)")
                  8 Points

      .action
        .action-title
          %h3 Actions
        .action-button
          %button.btn.btn-default.btn-block(ng-click="removeStory(story)")
            %i.fa.fa-remove
            Remove
